---

_You are currently looking at **version 1.0** of this notebook. To download notebooks and datafiles, as well as get help on Jupyter notebooks in the Coursera platform, visit the [Jupyter Notebook FAQ](https://www.coursera.org/learn/python-data-analysis/resources/0dhYG) course resource._

---

# The Series Data Structure

In [5]:
import pandas as pd
pd.Series?

In [6]:
animals = ['Tiger', 'Bear', 'Moose']
pd.Series(animals)

0    Tiger
1     Bear
2    Moose
dtype: object

In [7]:
numbers = [1, 2, 3]
pd.Series(numbers)

0    1
1    2
2    3
dtype: int64

In [8]:
animals = ['Tiger', 'Bear', None]
pd.Series(animals)

0    Tiger
1     Bear
2     None
dtype: object

In [9]:
numbers = [1, 2, None]
pd.Series(numbers)

0    1.0
1    2.0
2    NaN
dtype: float64

In [10]:
import numpy as np
np.nan == None

False

In [11]:
np.nan == np.nan

False

In [12]:
np.isnan(np.nan)

True

In [13]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [14]:
s.index

Index(['Archery', 'Golf', 'Sumo', 'Taekwondo'], dtype='object')

In [15]:
s = pd.Series(['Tiger', 'Bear', 'Moose'], index=['India', 'America', 'Canada'])
s

India      Tiger
America     Bear
Canada     Moose
dtype: object

In [16]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports, index=['Golf', 'Sumo', 'Hockey'])
s

Golf      Scotland
Sumo         Japan
Hockey         NaN
dtype: object

# Querying a Series

In [17]:
sports = {'Archery': 'Bhutan',
          'Golf': 'Scotland',
          'Sumo': 'Japan',
          'Taekwondo': 'South Korea'}
s = pd.Series(sports)
s

Archery           Bhutan
Golf            Scotland
Sumo               Japan
Taekwondo    South Korea
dtype: object

In [18]:
s.iloc[3]

'South Korea'

In [19]:
s.loc['Golf']

'Scotland'

In [20]:
s[3]

'South Korea'

In [21]:
s['Golf']

'Scotland'

In [22]:
sports = {99: 'Bhutan',
          100: 'Scotland',
          101: 'Japan',
          102: 'South Korea'}
s = pd.Series(sports)

In [23]:
s[0] #This won't call s.iloc[0] as one might expect, it generates an error instead

KeyError: 0

In [ ]:
s = pd.Series([100.00, 120.00, 101.00, 3.00])
s

In [ ]:
total = 0
for item in s:
    total+=item
print(total)

In [ ]:
import numpy as np

total = np.sum(s)
print(total)

In [ ]:
#this creates a big series of random numbers
s = pd.Series(np.random.randint(0,1000,10000))
s.head()

In [ ]:
len(s)

In [ ]:
%%timeit -n 100
summary = 0
for item in s:
    summary+=item

In [ ]:
%%timeit -n 100
summary = np.sum(s)

In [ ]:
s+=2 #adds two to each item in s using broadcasting
s.head()

In [ ]:
for label, value in s.iteritems():
    s.set_value(label, value+2)
s.head()

In [ ]:
#%%timeit -n 10
#s = pd.Series(np.random.randint(0,1000,10000))
#for label, value in s.iteritems():
#    s.loc[label]= value+2

In [ ]:
%%timeit -n 10
s = pd.Series(np.random.randint(0,1000,10000))
s+=2

In [ ]:
s = pd.Series([1, 2, 3])
s.loc['Animal'] = 'Bears'
s

In [ ]:
original_sports = pd.Series({'Archery': 'Bhutan',
                             'Golf': 'Scotland',
                             'Sumo': 'Japan',
                             'Taekwondo': 'South Korea'})
cricket_loving_countries = pd.Series(['Australia',
                                      'Barbados',
                                      'Pakistan',
                                      'England'], 
                                   index=['Cricket',
                                          'Cricket',
                                          'Cricket',
                                          'Cricket'])
all_countries = original_sports.append(cricket_loving_countries)

In [ ]:
original_sports

In [ ]:
cricket_loving_countries

In [ ]:
all_countries

In [ ]:
all_countries.loc['Cricket']

# The DataFrame Data Structure

<br>
Each pd series represents a row of data, likewise a dictionary also represents a row in a data frame.

Can think of a data frame as a two-axis labled array.

In [ ]:
import pandas as pd
purchase_1 = pd.Series({'Name': 'Chris',
                        'Item Purchased': 'Dog Food',
                        'Cost': 22.50})
purchase_2 = pd.Series({'Name': 'Kevyn',
                        'Item Purchased': 'Kitty Litter',
                        'Cost': 2.50})
purchase_3 = pd.Series({'Name': 'Vinod',
                        'Item Purchased': 'Bird Seed',
                        'Cost': 5.00})
df = pd.DataFrame([purchase_1, purchase_2, purchase_3], index=['Store 1', 'Store 1', 'Store 2'])
df.head()

In [ ]:
df.loc['Store 2']

In [ ]:
type(df.loc['Store 2'])

<br>
It's important to remember that column or row indices (i.e. names) can be non unique.
In the query below, df.loc['Store 1'] returns two rows

In [ ]:
df.loc['Store 1']

In [ ]:
df.loc['Store 1', 'Cost']

<br>
The .T is transpose, which transposes the entire array.  This allows .loc[ ] to query a row which used to be a column.

It is important to note that df.loc[ ] and df.iloc[ ] only work on row indices.

df[ ] index operator works directly on column labels (without the .loc[ ] operator) as columns always have labels.

In [ ]:
df.T

In [ ]:
df.T.loc['Cost']

In [ ]:
df['Cost']

<br>
df.loc['index']['label'] can be chained to query both rows and column, but this is not recommended.  Chaining can cause Pandas to return a copy of the dataframe instead of a view on the dataframe.  It is better to use .loc['index', 'label'] with two arguments index and column as shown earlier.

In [ ]:
df.loc['Store 1']['Cost']

<br>
.loc[ ] can use slicing to reference a group of rows, and a list to reference the columns.

In [ ]:
df.loc[:,['Name', 'Cost']]

<br>
.drop( ) works on both row index and column labels. By default, the axis parameter = 0 which drops a row, to drop a column, set axis parameter = 1.  Also by default, it does not change the dataframe, but does return a copy of the dataframe with the given row or column that was removed.  To update the dataframe in-place, set the inplace parameter = True and the dataframe will be updated directly.

In [ ]:
df.drop('Store 1')

In [ ]:
df

In [ ]:
copy_df = df.copy()
copy_df = copy_df.drop('Store 1')
copy_df

In [ ]:
copy_df.drop?

<br>
Alternatively, a column can be removed using the del keyword followed by dataframe['label'].  However, it takes immediate effect and does not return a view of the dataframe.

In [ ]:
del copy_df['Name']
copy_df

<br>
A column can be added to the dataframe simply by indexing a new column label followed by = None which broadcasts the default value to the new column.

In [ ]:
df['Location'] = None
df

# Dataframe Indexing and Loading

<br>
A typical workflow often involves taking a source dataframe and reducing it to the data of interest in a new dataframe.  However, when modifying the new dataframe, the original dataframe is also modified.
Here, cost is the new df, but when modifying cost, it also changes the original df.

To prevent the base df from changing, use the explicit copy function first.

In [ ]:
costs = df['Cost']
costs

In [ ]:
costs+=2
costs

In [ ]:
df

<br>
! is used to interface to the OS, the string following ! is sent to the OS.  'cat' works in linux and Mac, but use 'type' in Windows.

In [ ]:
!type olympics.csv

In [ ]:
df = pd.read_csv('olympics.csv')
df.head()

The above data shows redundant row indices and column indices.  This can be removed by using the optional parameters shown below.

In [ ]:
df = pd.read_csv('olympics.csv', index_col = 0, skiprows=1)
df.head()

In [ ]:
df.columns

<br>
This code iterates thru the column labels.  It looks for '01', '02', '03' by slicing the string col[ :2] and renaming with Gold, Silver, Bronze plus the string following the '!' using col[4: ]

In [ ]:
for col in df.columns:
    if col[:2]=='01':
        df.rename(columns={col:'Gold' + col[4:]}, inplace=True)
    if col[:2]=='02':
        df.rename(columns={col:'Silver' + col[4:]}, inplace=True)
    if col[:2]=='03':
        df.rename(columns={col:'Bronze' + col[4:]}, inplace=True)
    if col[:1]=='â„–':
        df.rename(columns={col:'#' + col[1:]}, inplace=True) 

df.head()

In [ ]:
df.rename?

<br>
Boolean masking is key to fast and efficient query in Pandas and Numpy.  It can be 1D series or 2D array like a dataframe. The boolean mask is essentially overlaid on the structure being queried.  Any cell aligned with True value will be emitted to the output, and likewise a cell aligned with False will not be.

# Querying a DataFrame

In the Olympic example, output the countries with Gold medal in summer olympics.  Use indexing operator ['Gold'] with boolean operator > 0.

In [ ]:
df['Gold'] > 0

<br>
Now that the boolean mask is generated, use the .where() function to overlay the mask on the dataframe.  The function returns a new dataframe where only those with at least 1 summer gold medal have a value.  It retains all the indices of the original dataframe, but indices which did not meet the True condition have NaN in all columns.

In [ ]:
only_gold = df.where(df['Gold'] > 0)
only_gold.head()

In [ ]:
only_gold['Gold'].count()  # The count() function returns the number of cells with a valid number,
# NaN is not counted.

In [ ]:
df['Gold'].count()  # The count of the original dataframe

In [ ]:
only_gold = only_gold.dropna() # the .dropna() function removes indices with NaN
only_gold.head()

<br>
This is a short cut method to using the .where() function above.  This uses the index operator to take the boolean mask directly instead of a column label.  Only rows which are True are emitted, pandas automatically filters out rows with no values.

In [ ]:
only_gold = df[df['Gold'] > 0]
only_gold.head()

<br>
The output of two Boolean masks can be compared with logical operators.  In this example, the length is combined number of rows of gold medals in summer and winter olympics.

In [ ]:
len(df[(df['Gold'] > 0) | (df['Gold.1'] > 0)])

For fun, are there any countries which won winter gold medals, but no summer gold?

Important note: All boolean masks must be encapsulated with () to keep them distinct.

In [ ]:
df[(df['Gold.1'] > 0) & (df['Gold'] == 0)]

# Indexing Dataframes

In [ ]:
df.head()

Let's say that we don't want to index the DataFrame by countries, but instead want to index by the number of gold medals that were won at summer games. First we want to preserve the current index (country name) into a new column (placed at right most column of dataframe). We can do this using the indexing operator with the label of the new column. Then we can use the set_index method to assign the summer gold medal wins as the dataframe index.

In [ ]:
df['country'] = df.index  # This creates the new column by index operator with new column name.
df = df.set_index('Gold')
df.head()

You'll see that when we create a new index from an existing column it appears that a new first row has been added with empty values. This isn't quite what's happening. And we know this in part because an empty value is actually rendered either as a none or an NaN if the data type of the column is numeric. What's actually happened is that the index has a name. Whatever the column name was in the Jupiter notebook has just provided this in the output. 
We can get rid of the index completely by calling the function reset_index. This promotes the index into a column and creates a default numbered index.

In [ ]:
df = df.reset_index()
df.head()

In [ ]:
df = pd.read_csv('census.csv')
df.head()

In this DataFrame, we see that the possible values for the sum level are using the .unique method on the DataFrame. This is similar to the SQL distinct operator. 
Here we can run .unique method on the sum level of our current DataFrame and see that there are only two different values, 40 and 50

In [ ]:
df['SUMLEV'].unique()

Let's get rid of all of the rows that are summaries at the state level and just keep the county data

In [ ]:
df=df[df['SUMLEV'] == 50] # using boolean mask as index filter
df.head()

Reduce the data that we're going to look at to just the total population estimates and the total number of births. We can do this by creating a list of column names that we want to keep then project those and assign the resulting DataFrame to our df variable.

In [ ]:
columns_to_keep = ['STNAME',
                   'CTYNAME',
                   'BIRTHS2010',
                   'BIRTHS2011',
                   'BIRTHS2012',
                   'BIRTHS2013',
                   'BIRTHS2014',
                   'BIRTHS2015',
                   'POPESTIMATE2010',
                   'POPESTIMATE2011',
                   'POPESTIMATE2012',
                   'POPESTIMATE2013',
                   'POPESTIMATE2014',
                   'POPESTIMATE2015']
df = df[columns_to_keep]
df.head()

The US Census data breaks down estimates of population data by state and county. We can load the data and set the index to be a combination of the state and county values and see how pandas handles it in a DataFrame. We do this by creating a list of the column identifiers we want to have indexed. And then calling set index with this list and assigning the output to the dataframe. We see here that we have a dual index, first the state name and then the county name.

In [ ]:
df = df.set_index(['STNAME', 'CTYNAME'])
df.head()

We saw previously that the .loc method of the DataFrame can take multiple arguments. And it could query both the row and the columns. When you use a Multi-Index, you must provide the arguments in order by the level you wish to query. Inside of the index, each column is called a level and the outermost column is level zero. For instance, if we want to see the population results from Washtenaw County, set the first argument as the state of Michigan.

In [ ]:
df.loc['Michigan', 'Washtenaw County']

You might be interested in just comparing two counties. To do this, we can pass the loc method, a list of tuples which describe the indices we wish to query. Since we have a Multi-Index of two values, the state and the county, we need to provide two values as each element of our filtering list.

In [ ]:
df.loc[ [('Michigan', 'Washtenaw County'),
         ('Michigan', 'Wayne County')] ]

# Missing values

The pd.read_csv() has many parameters, one of which is na_values which indicates what string value refers to NaN, default is None.

In [27]:
import pandas as pd
df = pd.read_csv('log.csv')
df

          time    user          video  playback position paused  volume
0   1469974424  cheryl     intro.html                  5  False    10.0
1   1469974454  cheryl     intro.html                  6    NaN     NaN
2   1469974544  cheryl     intro.html                  9    NaN     NaN
3   1469974574  cheryl     intro.html                 10    NaN     NaN
4   1469977514     bob     intro.html                  1    NaN     NaN
5   1469977544     bob     intro.html                  1    NaN     NaN
6   1469977574     bob     intro.html                  1    NaN     NaN
7   1469977604     bob     intro.html                  1    NaN     NaN
8   1469974604  cheryl     intro.html                 11    NaN     NaN
9   1469974694  cheryl     intro.html                 14    NaN     NaN
10  1469974724  cheryl     intro.html                 15    NaN     NaN
11  1469974454     sue  advanced.html                 24    NaN     NaN
12  1469974524     sue  advanced.html                 25    NaN     NaN
13  1469974424     sue  advanced.html                 23  False    10.0
14  1469974554     sue  advanced.html                 26    NaN     NaN
15  1469974624     sue  advanced.html                 27    NaN     NaN
16  1469974654     sue  advanced.html                 28    NaN     5.0
17  1469974724     sue  advanced.html                 29    NaN     NaN
18  1469974484  cheryl     intro.html                  7    NaN     NaN
19  1469974514  cheryl     intro.html                  8    NaN     NaN
20  1469974754     sue  advanced.html                 30    NaN     NaN
21  1469974824     sue  advanced.html                 31    NaN     NaN
22  1469974854     sue  advanced.html                 32    NaN     NaN
23  1469974924     sue  advanced.html                 33    NaN     NaN
24  1469977424     bob     intro.html                  1   True    10.0
25  1469977454     bob     intro.html                  1    NaN     NaN
26  1469977484     bob     intro.html                  1    NaN     NaN
27  1469977634     bob     intro.html                  1    NaN     NaN
28  1469977664     bob     intro.html                  1    NaN     NaN
29  1469974634  cheryl     intro.html                 12    NaN     NaN
30  1469974664  cheryl     intro.html                 13    NaN     NaN
31  1469977694     bob     intro.html                  1    NaN     NaN
32  1469977724     bob     intro.html                  1    NaN     NaN

In [82]:
pd.read_csv?  # This describes all the parameter fields

SyntaxError: invalid syntax (<ipython-input-82-d80cce37d38c>, line 1)

In [83]:
df.fillna?

In [28]:
df = df.set_index('time')
df = df.sort_index()  # Remember, Pandas can sort by index or values, .sort_index() or .sort_values()
df

              user          video  playback position paused  volume
time
1469974424  cheryl     intro.html                  5  False    10.0
1469974424     sue  advanced.html                 23  False    10.0
1469974454  cheryl     intro.html                  6    NaN     NaN
1469974454     sue  advanced.html                 24    NaN     NaN
1469974484  cheryl     intro.html                  7    NaN     NaN
1469974514  cheryl     intro.html                  8    NaN     NaN
1469974524     sue  advanced.html                 25    NaN     NaN
1469974544  cheryl     intro.html                  9    NaN     NaN
1469974554     sue  advanced.html                 26    NaN     NaN
1469974574  cheryl     intro.html                 10    NaN     NaN
1469974604  cheryl     intro.html                 11    NaN     NaN
1469974624     sue  advanced.html                 27    NaN     NaN
1469974634  cheryl     intro.html                 12    NaN     NaN
1469974654     sue  advanced.html                 28    NaN     5.0
1469974664  cheryl     intro.html                 13    NaN     NaN
1469974694  cheryl     intro.html                 14    NaN     NaN
1469974724  cheryl     intro.html                 15    NaN     NaN
1469974724     sue  advanced.html                 29    NaN     NaN
1469974754     sue  advanced.html                 30    NaN     NaN
1469974824     sue  advanced.html                 31    NaN     NaN
1469974854     sue  advanced.html                 32    NaN     NaN
1469974924     sue  advanced.html                 33    NaN     NaN
1469977424     bob     intro.html                  1   True    10.0
1469977454     bob     intro.html                  1    NaN     NaN
1469977484     bob     intro.html                  1    NaN     NaN
1469977514     bob     intro.html                  1    NaN     NaN
1469977544     bob     intro.html                  1    NaN     NaN
1469977574     bob     intro.html                  1    NaN     NaN
1469977604     bob     intro.html                  1    NaN     NaN
1469977634     bob     intro.html                  1    NaN     NaN
1469977664     bob     intro.html                  1    NaN     NaN
1469977694     bob     intro.html                  1    NaN     NaN
1469977724     bob     intro.html                  1    NaN     NaN

In [29]:
df = df.reset_index()
df = df.set_index(['time', 'user'])
df = df.sort_index(level ='user') # The original file did not include the level argument,
                                #this is needed to sort properly by user index.
df

                           video  playback position paused  volume
time       user
1469977424 bob        intro.html                  1   True    10.0
1469977454 bob        intro.html                  1    NaN     NaN
1469977484 bob        intro.html                  1    NaN     NaN
1469977514 bob        intro.html                  1    NaN     NaN
1469977544 bob        intro.html                  1    NaN     NaN
1469977574 bob        intro.html                  1    NaN     NaN
1469977604 bob        intro.html                  1    NaN     NaN
1469977634 bob        intro.html                  1    NaN     NaN
1469977664 bob        intro.html                  1    NaN     NaN
1469977694 bob        intro.html                  1    NaN     NaN
1469977724 bob        intro.html                  1    NaN     NaN
1469974424 cheryl     intro.html                  5  False    10.0
1469974454 cheryl     intro.html                  6    NaN     NaN
1469974484 cheryl     intro.html                  7    NaN     NaN
1469974514 cheryl     intro.html                  8    NaN     NaN
1469974544 cheryl     intro.html                  9    NaN     NaN
1469974574 cheryl     intro.html                 10    NaN     NaN
1469974604 cheryl     intro.html                 11    NaN     NaN
1469974634 cheryl     intro.html                 12    NaN     NaN
1469974664 cheryl     intro.html                 13    NaN     NaN
1469974694 cheryl     intro.html                 14    NaN     NaN
1469974724 cheryl     intro.html                 15    NaN     NaN
1469974424 sue     advanced.html                 23  False    10.0
1469974454 sue     advanced.html                 24    NaN     NaN
1469974524 sue     advanced.html                 25    NaN     NaN
1469974554 sue     advanced.html                 26    NaN     NaN
1469974624 sue     advanced.html                 27    NaN     NaN
1469974654 sue     advanced.html                 28    NaN     5.0
1469974724 sue     advanced.html                 29    NaN     NaN
1469974754 sue     advanced.html                 30    NaN     NaN
1469974824 sue     advanced.html                 31    NaN     NaN
1469974854 sue     advanced.html                 32    NaN     NaN
1469974924 sue     advanced.html                 33    NaN     NaN

The two common fill values are ffill and bfill. ffill is for forward filling and it updates an na value for a particular cell with the value from the previous row. It's important to note that your data needs to be sorted in order for this to have the effect you might want. Data that comes from traditional database management systems usually has no order guarantee, just like this data. So be careful.

In [30]:
df = df.fillna(method='ffill')
df

                           video  playback position  paused  volume
time       user
1469977424 bob        intro.html                  1    True    10.0
1469977454 bob        intro.html                  1    True    10.0
1469977484 bob        intro.html                  1    True    10.0
1469977514 bob        intro.html                  1    True    10.0
1469977544 bob        intro.html                  1    True    10.0
1469977574 bob        intro.html                  1    True    10.0
1469977604 bob        intro.html                  1    True    10.0
1469977634 bob        intro.html                  1    True    10.0
1469977664 bob        intro.html                  1    True    10.0
1469977694 bob        intro.html                  1    True    10.0
1469977724 bob        intro.html                  1    True    10.0
1469974424 cheryl     intro.html                  5   False    10.0
1469974454 cheryl     intro.html                  6   False    10.0
1469974484 cheryl     intro.html                  7   False    10.0
1469974514 cheryl     intro.html                  8   False    10.0
1469974544 cheryl     intro.html                  9   False    10.0
1469974574 cheryl     intro.html                 10   False    10.0
1469974604 cheryl     intro.html                 11   False    10.0
1469974634 cheryl     intro.html                 12   False    10.0
1469974664 cheryl     intro.html                 13   False    10.0
1469974694 cheryl     intro.html                 14   False    10.0
1469974724 cheryl     intro.html                 15   False    10.0
1469974424 sue     advanced.html                 23   False    10.0
1469974454 sue     advanced.html                 24   False    10.0
1469974524 sue     advanced.html                 25   False    10.0
1469974554 sue     advanced.html                 26   False    10.0
1469974624 sue     advanced.html                 27   False    10.0
1469974654 sue     advanced.html                 28   False     5.0
1469974724 sue     advanced.html                 29   False     5.0
1469974754 sue     advanced.html                 30   False     5.0
1469974824 sue     advanced.html                 31   False     5.0
1469974854 sue     advanced.html                 32   False     5.0
1469974924 sue     advanced.html                 33   False     5.0